body {
  background-color: #313435;
  color: #8c8f91;
  font-family: 'Bitter', serif;
}

/*********************************************/
/*              Modal Styling                */
/*********************************************/
.modal-content {
  background-color: #313435;
  color: #8c8f91;
  font-family: 'Bitter', serif;
}

.modal-title {
  text-align: center;
  color: #619920;
  float: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
}

#registerBike, #transferBike {
  float: left;
}

.form-group {
  margin-bottom: 4%;
}

.form-control {
  font: #619920;
}

/*********************************************/
/*              Column Styling               */
/*********************************************/
.box {
  margin-bottom: 4%;
}

.card {
  border: 1.45px solid #cccdce;
  border-radius: 8px;
}

.card-body {
  padding: 1em;
}

.card-title {
  padding: 1em;
  font: bolder;
  margin-bottom: 5%;
}

.btn {
  border: .5px solid #8c8f91;
  border-radius: 5px;
  padding-top: 2%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-bottom: 2%;
  margin: 2%;
}

img {
  background-image: url('../images/bicycle.png');
  height: 8%;
  width: 8%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  float:left;
}

h1 {
  float: left;
  margin-left: 24%;
  margin-right: 24%;
}

hr {
  margin-left: 2%;
  margin-right: 2%;
  clear: both;
}

.header {
  margin-left: 45%;
  margin-right: 45%;
}

.address {
  float:left;
  margin-left: 2.5%;
  font: boldest;
}

.name, .date {
  float: right;
  margin-left: 6%;
  margin-right: 4%;
}

/*********************************************/
/*            Transaction Styling            */
/*********************************************/
.col-md-6, .offset-md-4 > p {
  color: #619920;
}

.col-md-6 > p {
  margin-left: 7%;
}

.offset-md-4 {
  float: right;
}

.name-col-md-6 {
  float: left;
}

.time-col-md-6 {
  float: right;
}
